<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        //axios拦截器
        axios.interceptors.request.use(function(config){
            //可以配置跟多
            const token=localStorage.getItem('token');
            if(token){
                config.headers['Authorization']=token
            }
            return config
        })
        axios.get('/profile'
        .then(res=>{
            console.log(res)
        })
        )
    </script>
</body>
</html>